<div class="homepage">


<h1>The 'Bad Record' Record Store</h1>

<p>The only place to find the songs you never wanted to hear again</p>

  <iframe src="https://open.spotify.com/embed/track/5ygDXis42ncn6kYG14lEVG" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
