<form action="/albums" method="post">

  <label for="name-field">Name</label>
  <input type="text" name="name" id="name-field" placeholder="Name">

  <label for="artist-field">Artist</label>
    <select name="artist_id" id="artist-field">
      <% for artist in @artists %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
      <% end %>
    </select>

    <label for="stock-field">Stock:</label>
    <input type="number" name="stock" id="stock-field" placeholder="Stock">

    <input type="submit" value="Create new Album">


</form>
