<h1>Artists</h1>

<p>
<a href="artists/new">New Artist</a>
</p>


<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
    <td></td>
  </tr>
  <% end %>
</table>
